<html>
<body>
    <h1>Hello, this view is in other location</h1>
    <p>Son las @DateTime.Now.Hour y @DateTime.Now.Minute del @DateTime.Now.ToShortDateString()</p>

    <p>¿Cuanto suma 3 + 5?</p> 
    
    <h1>Suma = @(3+5)</h1>

    @{
        int a = 10;
        int b = 20;
        int c = a + b;
     }

    <h2>si a = 10 y b=20 ¿cunato suman?</h2>

    <h1>@c</h1>

    @for (int i = 0; i < 10; i++)
    {
        <h3>Este es el dato número @(i+1)</h3>
    }

    @{ 
        var lista = new List<string>() { "Ana","Nacho","Ricardo","Pablo","Maite","Paulita","Luisito", "Maite2","Hector", "Samuel", "Sergio", "Olivia"};
    }

    <h4>La familia Alcaide Salas y sus descendientes se compone de los siguientes miembros</h4>

    @foreach (var item in lista)
    {
        <h4>@item</h4>
    }

</body>
</html>